
<div class="container">
 <div class="card borde col-12 col-sm-6">
          <h3>Add a new List</h3>
        <div >
          <div class="bg-white rounded p-3">
<%= simple_form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
<%= f.input :photo, as: :file %>
  <%= f.submit  class:'btn btn-flat'%>
<% end %>
</div>
</div>
