
 <div class="cards mt-3">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>

      <div class="movie-card">
        <%= image_tag movie.poster_url, alt: movie.title, class:'movie-img' , width: 200 %>
        <div class="d-flex flex-column p-3">
          <strong><%= movie.title %> <span class=" text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star fa-star-yellow"></i></span></strong>
          <p class="text-muted small text-justify"><%= movie.overview %></p>
          <div class="d-flex align-items-end justify-content-between ">
            <div>
              <small><i class="fas fa-quote-left flex-grow-1"></i> <%= bookmark.comment %></small>
            </div>
            <div>
              <small><%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger'  %></small>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <h3>Reviews</h3>
      <% if @list.reviews.empty? %>
        <small><em class="text-muted">Be the first to post a review!</em></small>
      <% end %>
      <% @list.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star fa-star-yellow"></i>
            <% end %>
          <%= review.comment %>
        </div>
        <hr>
        <% end %>
    </div>

    <div class="col-12">
      <h3>Add a Review</h3>
 <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Add your review</h5>
        <%= simple_form_for [@list, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Add your review here...' %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
          <%= f.submit class:'btn btn-flat' %>
        <% end %>
      </div>
    </div>


<div class="row">
      <div class="col-12">
        <hr>
        <div class="form">
         <h3>Add a new movie</h3>
        <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.input :comment, placeholder: 'Add your comment' %>
          <%= f.association :movie, input_html: { class: 'select2' } %>
          <%= f.submit "Add movie", class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
